html {
    height:100%;
    min-height:100%;
}

body {
    margin: 0 0;
    height:100%;
    min-height:100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-top: 75px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5
}

h1 {
    font-size: 40px;
    letter-spacing: 1.5px;
}

h2 {
  font-size: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 20px;
  letter-spacing: .75px;
}

hr {
  border-top: 1px solid #8c8b8b;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.s {
  width:80%;
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/*  BASE.HTML  */
.navbar {
  height: 75px;
}

.navbar-header {
  display: inline-block;
}

.navbar-form {
  float:right;
}


/*  INDEX.HTML  */
.columns {
    margin-right: -10px;
    margin-left: -10px;
    position: absolute;
    width: 90vw;
}

.columns::before {
    display: table;
    content: ""
}

.columns::after {
    display: table;
    clear: both;
    content: ""
}

.column {
    float: left;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
    margin: auto;
}

.index {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;

}

.jumbotron {
  background: url('../static/stuylib.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top:50px;
  left:0;
  color: white;
  /*text-shadow: black 0 0.25em 0.25em;*/
}

.login {
  text-align: center;
}

.notneeded {
  margin: auto;
  font-size:20px;
  color:black;
  background-color: white;
  padding: 10px 10px 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #828282;
  border-width: .25px;
  width: 500px;
}

.form-control-lg {
  height: 42px;
  font-size: 16px;
}

/*  LOGIN.HTML  */
.container-login {
  height:100vh;
  background-color: #EEEEEE;
}

.container-form {
  text-align: left;
  margin: auto;
  width: 400px;
  background-color: white;
  padding: 40px 50px 30px 40px;
  border-radius: 10px;
  border-style: solid;
  border-color: #828282;
  border-width: .25px;
}

.login {
  padding-top: 100px;
  color: black;
}

.new {
  margin: auto;
  background-color: white;
  padding: 10px 0 0;
  border-radius: 10px;
  border-style: solid;
  border-color: #828282;
  border-width: .25px;
  width: 400px;
}

.gmail {
  margin: auto;
  background-color: white;
  padding: 10px 0 0;
  border-radius: 10px;
  border-style: solid;
  border-color: #828282;
  border-width: .25px;
  width: 400px;
}

/*  SIGNUP.HTML  */

.container-signup {
  color:black;
  height: 100vh;
  padding-top: 75px;
  width:70%;
  margin: auto;
}

#signup-form {
  text-align: left;
}

table, tr, td {
  background-color: white;
  border: .25px solid #828282;
  width: 300px;
}

/*  USERPAGE.HTML  */
.userpage {
  margin-top: 75px;
  color:black;
}

.buying {
  padding-top:50px;
  color:black;
}

.in {
  font-size: 15px;
  text-align: center;
}

.in a:hover {
  color: #990000 !important;
  border-bottom: 3px solid #990000;
}

.tab-pane {
  text-align: left;
  padding-top: 50px;
}

.nav-tabs > li {
  width:33%;
  text-align: center;
  padding-top: 25px;
}

/*  ITEMPAGE.HTML  */
.info {
  color:#777;
  letter-spacing:1px;
}


/*GOOGLE LOGIN BUTTON*/
      #customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
      }
      #customBtn:hover {
      cursor: pointer;
      }
      span.label {
      font-family: serif;
      font-weight: normal;
      }
      
      span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
      }
      
      span.fa-google-plus{
	  background-color: #dd4b39;
      }

      .btn btn-block btn-social btn-odnoklassniki{
	  background-color: #dd4b39;
      }
/*GOOGLE LOGIN BUTTON CSS ENDS*/