{% extends "base.html" %}
{% block title %}Activate Account{% endblock %}
{% block contents %}
<div class="activate" style="padding-top:15px;">
  <p class="alert alert-success" style="font-size:20px;">Your account has been activated!</p>
  <br>
  <h1 style='color:black'>Welcome to Stuy Books!</h1>
  <div class="list-group">
    <a href="/buypage" class="list-group-item">
      <h4 class="list-group-item-heading">Take me to all the listings!</h4>
      <p class="list-group-item-text">Link in navbar (top right) > "All listings" > to all the active listings in our database.</p>
    </a>
    <a href="/sell" class="list-group-item">
      <h4 class="list-group-item-heading">Lemme sell something!</h4>
      <p class="list-group-item-text">Link in navbar (top right) > "Sell" > to selling form so that your book may be listed in the database for all members to see!</p>
    </a>
    <a href="/userpage" class="list-group-item">
      <h4 class="list-group-item-heading">What books am I buying/selling now? Or bought/sold in the past?</h4>
      <p class="list-group-item-text"> Click on your username (top right) > "My Activity"</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Log out</h4>
      <p class="list-group-item-text">Click on your username (top right) > "Sign out"</p>
    </a>
  </div>
</div>
{% endblock %}
