<!DOCTYPE HTML>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - StuyBooks</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
  <body>
    <div class="top">
    <nav class="navbar navbar-default navbar-fixed-top">
       <div class="test">
         <div class="navbar-header">
           <a class="navbar-brand" href="#"><img id="logo" class="smalllogo" src="{{ url_for('static', filename='logo.png') }}" height="45"></a>
         </div>
         <div class="navbar-header" style="padding-top:12px; float:right; padding-right:15px;">
           <form class="navbar-form navbar-right" role="search">
             <div class="form-group">
               <input type="text" class="form-control" placeholder="Search StuyBooks" style="width:200px;">
             </div>
             <button type="submit" class="btn btn-default" id="signin">Sign in</button>
             <button type="submit" class="btn btn-success" id="signup">Sign up</button>
           </form>
        </div>
      </nav>
      </div>
    </div>
    <div class="container">
      {% block contents %}{% endblock %}
    </div>
  </body>
</html>
