{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block contents %}
  <div class="bg">
    <div class="jumbotron">
      <div class="container-responsive">
        <div class="columns">
          <div class="column">
            <h1 class="jumbotron-title">Hello world</h1>
            <p class="jumbotron-lead">this is some text that explains some things</p>
          </div>
          <div class="column">
            <form accept-charset="UTF-8" action="/join" autocomplete="off" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="l81u/Z0AbnyO8ZTmNYW2CwcPss+xjYXocZKZHkErQQ4Tw5d4tc84TXCBsTbxOl6Zj20QbFOGigQDZ5EIgh5L4g==" /></div>
                <input type="text" name="user[login]" class="form-control form-control-lg input-block" placeholder="Pick a username" data-autocheck-url="/signup_check/username" autofocus>
              </dd>
            </dl>
            <dl class="form">
              <dd>
                <input type="text" name="user[email]" class="form-control form-control-lg input-block" placeholder="Your email address" data-autocheck-url="/signup_check/email">
              </dd>
            </dl>
            <dl class="form">
              <dd>
                <input type="password" name="user[password]" class="form-control form-control-lg input-block" placeholder="Create a password" data-autocheck-url="/signup_check/password">
              </dd>
            </dl>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
