{% extends "base.html" %}
{% block title %}Buying{% endblock %}
{% block contents %}
<div class="buying">

<table>
  <!--get only one item-->
  <tr><th>{{thisBook['bookName']}}</th></tr>
  <tr><td>{{thisBook['author']}}</td></tr>
  <tr><td>{{thisBook['isbn']}}</td></td>
  <tr><td>{{thisBook['subject']}}</td></tr>
  <tr>
    <td>{{thisBook['condition']}}</td>
    <td>{{thisBook['price']}}</td>
  </tr>
  <tr><td>{{thisBook['description']}}</td></tr>
</table>


<!--{% if info|length > 0 %}-->
<!--<table>-->
  <!--get only one item-->
  <!--{% for item in info %}
  <tr><th>{{item['bookName']}}</th></tr>
  <tr><td>{{item['author']}}</td></tr>
  <tr><td>{{item['isbn']}}</td></td>
  <tr><td>{{item['subject']}}</td></tr>
  <tr>
    <td>{{item['condition']}}</td>
    <td>{{item['price']}}</td>
  </tr>
  <tr><td>{{item['description']}}</td></tr>
  {% endfor %}-->
  <!--end for loop-->
<!--</table>-->
<!--{% endif %}-->


</div>
{% endblock %}
