<!DOCTYPE HTML>
<html>
  <head>
    <title>Sign in - StuyBooks</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/logo.png">
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-social.css"/>

    <meta name="google-signin-client_id" content="<!--GOOGLE CLIENT ID-->">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script>
      var googleUser = {};
      var startApp = function() {
      gapi.load('auth2', function(){
      // Retrieve the singleton for the GoogleAuth library and set up the client.
      auth2 = gapi.auth2.init({
      client_id: "//GOOGLE CLIENT ID//",
      cookiepolicy: 'single_host_origin',
      // Request scopes in addition to 'profile' and 'email'
      //scope: 'profile email'
      });
      attachSignin(document.getElementById('customBtn'));
      });
      };

      function attachSignin(element) {
      console.log(element.id);
      auth2.attachClickHandler(element, {},
      function(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId());
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail());
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      name = profile.getName();
      email = profile.getEmail();
      
      $.ajax({
      type: "GET",
      url:"/",
      data:{"name":name,"email":email},
      success: function(){ window.location.href="/"; },
      });

      }
      )};

    </script>

  </head>

  <body>
    <div class="container-login">
      <div class="login">
	<div>
	  <img class="logo" src="{{ url_for('static', filename='logo.png') }}" height="65"><br><br>
	  <h1>Sign in to StuyBooks</h1>
	</div>
	<br>
	<div class="container-form">
	  <!--<button class="btn btn-default" type="button" id="emailLogin">Log in via Gmail</button><br><br>-->

	  <form name="login" method="POST">
	    <p class="alert alert-danger">{{msg}}</p><br>
	    Email<br><div class="input-group">
              <input name='email' type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">@stuy.edu</span>
	    </div><br>
	    Password<br><input name='pword' type="password" class="form-control input-block"><br>
	    <button class="btn btn-success btn-block" type="submit" id="submit">Submit</button>
	  </form>
	</div>
	<br>


	<!-------------------THIS IS THE WHERE THE GOOGLE SIGN IN CODE BEGINS------------------------------------------------------->
	<!-- In the callback, you would hide the gSignInWrapper element on a
	     successful sign in -->
	<div id="gSignInWrapper">
	  <div id="customBtn" class="customGPlusSignIn">
	    <!--<span class="icon"></span>-->
	    <a class="btn btn-block btn-social btn-google">
	      <span class="fa fa-google-plus"></span> Sign in with Google
	    </a>
	    <!--<span class="buttonText">Sign in with Google</span>-->
	  </div>
	</div>
	<div id="name"></div>
	<script>startApp();</script>
	<!-------------------THIS IS WHERE THE GOOGLE SIGN IN BUTTON CODE ENDS------------------------------------------------------>

      </div>
    </div>
  </body>
</html>
