<!DOCTYPE html>

<head>
  <h1>SIGNUP</h1>

</head>

<body>

  <button type="button" id="emailLogin">Log in via Gmail</button><br><br>
  
  <form name="login" method="POST">
    Name: <input type="text" name="name" id="name"><br><br>
    Email: <input type="text" name="email" id="email"><br><br>
<!--    Username: <input type="text" name="uname" id="uname"><br><br> -->
    Password: <input type="text" name="pword" id="pword"><br><br>
    <button type="submit" id="submit">Submit</button>
  </form>

</body>

</html>
